.card{
  -webkit-box-shadow: 0px 13px 19px -1px rgba(0,0,0,0.45);
  box-shadow: 0px 13px 19px -1px rgba(0,0,0,0.45);
  border-radius: 1em;
  min-height: 30em;
  width: 20em;
  height: 15em;
  overflow: hidden;
  margin: 1em;
}
card div{
  height: 30em;
}

.card-img{
  height: 20em;
  width: 100%;
  overflow: hidden;
}

.card-img img{
  width: 100%;
}

.card-body{
  padding: 2em;
  margin-top: -2em;
}
