<div class="card">
  <div class="card-img">
    <img [src]="imgPath" alt="">
  </div>
  <div class="card-body" >
    <h3>TITRE</h3>
    <P> Lorem ipsum dolor sit amet, consectetur adipisicing  ducimus </P>
    <app-event/>
  </div>
</div>
