<navBarPerso/>
<app-image/>

<div class="multiCard">
  <app-card/>
  <app-card/>
  <app-card/>
  <app-card/>
  <app-card/>
  <app-card/>
  <app-card/>
  <app-card/>
  <app-card/>
</div>
<router-outlet></router-outlet>
