
<div class="nav">
  <div class="littleBox">

    <h1>LOGO</h1>

  </div>

  <div class="littleNav">
    <a href="">link</a>
    <a href="">link</a>
    <a href="">link</a>
    <a href="">link</a>
    <a href="">link</a>
  </div>

  <div class="littleBox">
    <div class="verylittleBox"></div>
    <p>{{User}}</p>
  </div>



</div>
