
.littleBox{
  display: flex;
  justify-content: space-around;
  align-items: center;
  /*background-color: darkred;*/
}

.littleBox p{
  margin-left: 1em;
}
.verylittleBox{
  height: 20px;
  width: 20px;
  background-color: #00318b;
}

.nav{
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;

}

.littleNav a{
  margin-left: 3em ;
}
